Figures/
Data/ALEXI/
Data/coweeta/
Data/forest_composition/*
!Data/forest_composition/Wilson_FC_SBR
Data/forest_composition/Wilson_FC_SBR/*
!Data/forest_composition/Wilson_FC_SBR/FC_classification_sbr_wilson.R
!Data/forest_composition/Riley_FC_SBR
Data/forest_composition/Riley_FC_SBR/*
!Data/forest_composition/Riley_FC_SBR/FC_classification_sbr_riley.R
Data/gis/
Data/landcover/
Data/Landsat_ET/
Data/MODIS_ET/
Data/NA_CEC_Eco_Level3/
Data/SPI/
Data/tl_2017_us_state/
Data/Topography/
Analysis/outputs/
Visualizing/**/*.csv
Visualizing/**/**/*.csv
Visualizing/figures/
*.xlsx
*.tif
*.csv
*.ini
*.xml
*.gslides
*.csh
