Figures/

Data/ALEXI/
Data/coweeta/

Data/forest_composition/*
!Data/forest_composition/Wilson_FC_SBR
Data/forest_composition/Wilson_FC_SBR/*
!Data/forest_composition/Wilson_FC_SBR/FC_classification_sbr_wilson.R
!Data/forest_composition/Riley_FC_SBR
Data/forest_composition/Riley_FC_SBR/*
!Data/forest_composition/Riley_FC_SBR/FC_classification_sbr_riley.R

Data/gis/
Data/landcover/
Data/Landsat_ET/
Data/MODIS_ET/
Data/NA_CEC_Eco_Level3/
Data/SPI/
Data/tl_2017_us_state/
Data/Topography/
Data/nhdPlus
Data/Processing_scripts/landsat_lt_1.R
Data/Processing_scripts/landsat_lt_2.R
Data/Processing_scripts/landsat_lt_3.R
Data/Processing_scripts/landsat_lt_4.R
Data/Processing_scripts/landsat_lt_5.R
Data/Processing_scripts/landsat_lt_6.R
Data/Processing_scripts/landsat_lt_7.R
Data/Processing_scripts/landsat_lt_8.R
Data/Processing_scripts/landsat_lt_9.R


Analysis/outputs/


Visualizing/


*.xlsx
*.tif
*.csv
*.ini
*.xml
*.gslides
*.csh

